
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/*GLOBALES*/
a{
  text-decoration: none;
  color: black;}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: large; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}
.bt_back button{
  background: transparent;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.95) 0, rgba(255, 255, 255, 0.5) 100%);
  border-radius: 10px;
  width: 150px;
  height: 100px;
}
.bt_back{
  text-align: center;
}
ul{
  text-align: left;
  /*background-image: radial-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.3));
  border-radius: 10px;*/
  margin: 0 auto;
  padding: 10px;
  width:95%;
}
/** FOOTER **/
footer {
  grid-area: footer;
  
  background-image: linear-gradient(to top, rgba(255,255,255,0.7), rgba(255,255,255,0.85), rgba(255,255,255,0.7));
  width:100%;
  height:100px;
  border-radius: 40px 40px 0px 0px;
  padding-top: 15px;
  margin-top: auto;
  margin: 0 auto;
}

footer table{
  table-layout: fixed;
  width: 100%;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

footer table th{
  font-size: large;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.icono_texto{
  display: flex;
  text-align: left;
  margin: 0 auto;
  justify-content: left;
  margin-left: 40%;
}
.icono_texto:not(:last-child){
  margin-bottom: 10px;
}
.icono_texto div{
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.icono_texto p{
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
  vertical-align: middle;
}
.icono_texto a{
  color: black;
}


body{
  margin: 0 auto;
  background-image: url(images/wallpaper.jpg);
  background-repeat: repeat;
}

/************* PÁGINA PPAL *************/
#ppal{
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* DIV TOP */
#div_botonesTop{
  grid-area: header;
  font-size:0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#div_botonesTop button{
  
  background: transparent;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.95) 0, rgba(255, 255, 255, 0.5) 100%);
  border-radius: 10px;
  width: 150px;
  height: 100px;
  
  display: block;
  
  padding-top: 5px;
  padding-bottom: 5px;
  
}
#div_botonesTop a{
  justify-content: flex-end;
  margin: 0 70px;
}
#div_botonesTop button p{
  font-size: medium;
}

.dibujosBT_top{
  height: 50%;
  margin-top: 5%;
}

.textoBT_top{
  margin-top: 5%;
  text-align: center;
  vertical-align: middle;
  margin:0 auto;
}

/* BLOQUE PRESENTACION*/
#presentacion{
  width: 80%;
  height: 800px;
  text-align: center;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  background-image:radial-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.5));
  border-radius: 10px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
}

#divFoto{
  width: 45%;
  max-height: 800px;
  margin: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
}

#storie_container{
  width: 100%;
  position: absolute;
  top:0px;
  justify-content: space-around;
  display: flex;
  z-index: 1;
}
.square{
  width: 30%;
  height: 4px;
  background: #eee;
  margin-top: 8px;
}

.foto{
  width: 100%;
  position: absolute;
  margin: auto;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  opacity: 1;
  image-rendering: -webkit-optimize-contrast;
}

#fotoNegro {
  height: 130px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-image: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,6) 50%, rgba(0,0,0,0));
  
  opacity: 0;
  transition: .5s;
  z-index: 2;
}

#fotoTitle{
  position: absolute;
  width: 100%;
  height: 100%;
  top:100%;
  opacity:0;
  font-size: xx-large;
  color: #eee;
  border-radius: 5px;
  z-index: 5;
  text-align: center;
  vertical-align: middle;
  transition: .5s ease
}

#divFoto:hover #fotoNegro{
  top: 690px;
  transition: 0.3s;
  opacity: 1;
}
#divFoto:hover #fotoTitle{
  top: 90%;
  transition: 0.3s;
  opacity: 1;
}
#cosasLadoFoto{
  width: 100%;
}
#mitad_der{
  margin: 0 auto;
  margin-right: 0;
  height: 100%;
  width: 40%;
  visibility: hidden;
}
#mitad_izq{
  position: absolute;
  height: 100%;
  width: 40%;
  text-align: left;
}
#parrafo{
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

/************* FORMACION *************/
#formacion{
  text-align: center;
  margin: 0 auto;
  background-image: url(images/wallpaper.jpg);
  background-repeat: repeat;
}

#formacion p{
  text-indent: 0px;
}

/************ EXPERIENCIA ************/
#experiencia{
  text-align: center;
  margin: 0 auto;
  background-image: url(images/wallpaper.jpg);
  background-repeat: repeat;
}

.tituloPag{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.tarjetas_experiencia{
  background-image: radial-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.5));
  border-radius: 10px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  padding-top: 1px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
}

.rowImg_txt{
  overflow:hidden;
  list-style-position: none;
  height:90px;
  border-radius: 10px;
  width: 100%;
  transition: 0.25s ease-out;
  display: block;
  text-decoration: none;
}
.rowImg_txt:hover{
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.002);
}
.rowImg_txt .img_cont{
  height: 90px;
  width: 90px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  background-image:radial-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.5));
  margin: 0
}
.rowImg_txt:not(:last-child) {
  margin-bottom: 20px;
}
.img_cont img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.rowImg_txt p{
  vertical-align: middle;
  display: inline-block;
}


/************ IDIOMAS ************/

#idiomas{
  background-image: url(images/wallpaper.jpg);
  background-repeat: repeat;
}


/******* BOT PRO ******/
.bloqueTexto{
  width: 90%;
  margin: 20px auto;
  background-image:radial-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.5));
  border-radius: 10px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  
  padding: 10px 30px;
  
  text-align: justify;
  text-justify: inter-word;
}

.bloqueTexto:not(:last-child){
  margin-bottom: 10px;
}

.bloqueTexto h1{
  margin: 10px;
  text-align: center;
}
.bloqueTexto h3{
  margin-bottom: .5rem;
}
.bloqueTexto h3:not(h1+h3){
  margin-top: 1.5rem;
}
#disclaimer{
  width: 50%;
  margin: inherit auto;
  display: block;
  color: red;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, .5px .5px #fff, -.5px -.5px 0 #fff, .5px -.5px 0 #fff, -1px 1px 0 #fff;
}
.containerVid{
  display: flex;
  margin: 0 auto;
  width: 70%;
}
.containerVid video, .containerVid img{
  max-width: 50%;
  
  clear:left;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.containerVid p{
  width: 50%;
  height: auto;
  margin-top: 1rem;
  padding: 0 1rem 1rem 1rem;
}

