*{
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(#666, #444);
}

body{
    background-image: linear-gradient(#666, #444);
}

#botonesTop{
  font-size:0px;
  display: flex;
  justify-content:space-between;
  width: 50%;
  vertical-align: middle;
}

#presentacion{
  height: 500px;
  width: 75%;
  margin-top: 5%;
  text-align: left;
  display: flex;

}

p{
  text-align: left;
  font-family: Arial
}

#foto{
  margin:0
}